@model super_Heroes_Project.Models.Heroes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Heroes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RealName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlterEgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlterEgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catchphrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catchphrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
